@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundário: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height:100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundário);
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    font-family: var(--fonte-principal);
    color: var(--branco-principal);
    margin-bottom: 0.3em;
}

.descricao__texto{
    color: var(--cinza-secundário);
}

.secundario__botao{
  display: inline-block;
  margin-top: 1em;  
}

.container__descricao{
    padding: 2em;
}

.plataformas{
    display: flex;
    margin-top: 1em;
    color: var(--branco-principal);
}

.plataformas__descricao{
    font-size: 32px;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.plataformas__itens{
    text-align: center;
}

.container2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.rodape{
    height: 25vh;
    margin: 0 10em;
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__logo{
    width: 102px;
    height: 35.28;
    padding-bottom: 1.25em;
}

.rodape__lista{
    display: flex;
    gap: 12px;
    text-decoration: none;
    padding-bottom: 1em;
    list-style: none;
}

.lista__link{
    font-size: 14px;
    text-decoration: none;
    color: var(--cinza-secundário);
}


.rodape__texto{
    color: var(--cinza-secundário);
    font-size: 12px;
    padding-bottom: 1em;
    text-align: center;

}